{% extends "main.html" %}
{% load static %}
<!doctype html>
<html lang="en">

    {% block content %}
    
    <img class src="https://unpkg.com/pokeapi-sprites@2.0.2/sprites/pokemon/other/dream-world/{{ ShowID }}.svg" alt="{{ShowName}}'s Image">
    
    <h1>ID: {{ShowID}}</h1>
    <h1>Name: {{ShowName}}</h1>
    <h1>Type: {{Type1}} 
        {% if Type2 != None %}
            {{Type2}}</h1>
        {% else %}
            </h1>
        {% endif %}
    <h1>Height: {{ShowHeight}} </h1>
    <h1>Weight: {{ShowWeight}} </h1>
    <h1>Description: {{Description}}</h1>

    {% endblock content %}
        
</html>